

.imagen{
    width: 30%;  
    margin: 0 none;
    padding-bottom: 10%;
}

.tarjeta{
    display: table;
    vertical-align: middle;
    text-align: center;
    display: table-cell;


    width:300px;
    height: 320px;   
    border-radius:15px;
    font-family: sans-serif;
    background-color: black;   
}

.titulo{
    font-size: 24px;
    padding: 10px 10px 10px 10px;
    color:khaki;
}

.cuerpo{
    padding: 5px;
    }

.btn{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
  text-align: center;
  background-color: #eb5d59;
  color:aliceblue;
  border: none;
  padding-top: 5%;  
  padding-bottom: 5%;  
  padding-left: 5%;
  padding-right: 5%;
  font-size: medium;
}

.tabla{
    justify-content: center;
    margin: 0 auto;
}

.form{
    padding: 10px;
}